name: credible
description: Credible Wallet

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  cupertino_icons: ^0.1.3
  flutter_modular: ^2.0.1
  dio: ^3.0.10
  rxdart: ^0.24.1
  font_awesome_flutter: ^8.8.1
  qr_flutter: ^3.2.0
  shared_preferences: ^0.5.12
  google_fonts: ^1.1.0
  flutter_secure_storage: ^3.3.5
  qr_code_scanner: ^0.0.13
  flutter_svg: 0.19.0
  didkit:
    path: ../didkit/lib/flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  intl_translation: ^0.17.10
  pedantic: ^1.9.0

flutter_intl:
  enabled: true

flutter:
  uses-material-design: true
  assets:
    - assets/brand/logo-full.svg
    - assets/brand/logo-circular.svg
    - assets/brand/logo-title.svg
    - assets/brand/logo-subtitle.svg
    - assets/brand/logo-splash.svg
    - assets/brand/logo-minimal.svg
    - assets/icon/domain.svg
    - assets/icon/profile.svg
    - assets/icon/profile-filled.svg
    - assets/icon/qr-code.svg
    - assets/icon/wallet.svg
    - assets/icon/wallet-filled.svg
    - assets/icon/location-target.svg
    - assets/icon/time-clock.svg
    - assets/image/gen.svg
    - assets/image/scan.svg

  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
